# macOS
.DS_Store
.AppleDouble
.LSOverride

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup

# Backups y temporales
*-old.*
*-backup.*
*.txt
*.bak

# Logs
*.log

# Java
*.class
