<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Create User</title>
</head>
<body>

<h1>Create User</h1>

<form th:action="@{/users/create}" method="post" th:object="${form}">

<div>
    <label>Username</label>
    <input type="text" th:field="*{username}" />
    <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" style="color:red;"></div>
</div>

<div>
    <label>Email</label>
    <input type="email" th:field="*{email}" />
    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color:red;"></div>
</div>

<div>
    <label>Password</label>
    <input type="password" th:field="*{password}" />
    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color:red;"></div>
</div>

<button type="submit">Create</button>

<a th:href="@{/users}">Back</a>

</form>

</body>
</html>