<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Users</title>
</head>
<body>
<h1>Usuarios</h1>

<div th:if="${success}" th:text="${success}" style="color:green;"></div>

<p><a th:href="@{/users/new}">Crear usuario</a></p>

<table border="1" cellpadding="6">
<thead>
<tr>
    <th>ID</th><th>Username</th><th>Email</th><th>Role</th><th>Acciones</th>
</tr>
</thead>
<tbody>
<tr th:each="u : ${users}">
    <td th:text="${u.userId}"></td>
    <td th:text="${u.username}"></td>
    <td th:text="${u.email}"></td>
    <td th:text="${u.role}"></td>
    <td>
    <a th:href="@{/users/{id}/edit(id=${u.userId})}">Editar</a>

    <form th:action="@{/users/{id}/delete(id=${u.userId})}" method="post" style="display:inline;">
        <button type="submit" onclick="return confirm('¿Eliminar usuario?')">Eliminar</button>
    </form>
    </td>
</tr>
</tbody>
</table>

</body>
</html>